@charset "UTF-8";

/* GERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html{
  color: var(--cor5);
  background-color: var(--cor6);
}

:root {

  /* CLARO */
  --cor1: #f26d6d;
  --cor2: #db4848;
  --cor3: #f06969;
  --cor4: #ffc7c7;
  --cor5: #f8f8f8;
  --cor6: #303030;

  /* ===FONTES=== */
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

.circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerMsg {
  text-align: center;
}

.space {
  margin: 20px;
  font-size: 2.5rem;
}

/* HEADER */

header {
  display: flex;
  flex-flow: column nowrap;
}

.redesSociais > a{
  color: #db4848;
  margin: 5px 10px;
}

.hamburgueMenu {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--cor2);
  box-shadow: 0 0px 10px rgba(255, 0, 0, 0.39);
}

.headerBoxImage {
  margin: 25px 0px;
}

.headerBoxImage img {
  background-color: var(--cor2);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.644);
  transition: transform 0.3s ease;
}
.headerBoxImage img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.headerBoxMsg {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.headerBoxMsg p > strong {
  color: var(--cor2);
}

.headerBoxMsg h2,
p {
  padding: 10px;
}

.bntTopoSite {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--cor3);
  color: var(--cor5);
  margin-bottom: 10px;
}
/* Meus projetos */




/* Minhas skills */
.skillsContainer {
  max-width: 600px;
  margin: auto;
}

.hardBox {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.progress {
  flex: 1;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50; /* verde */
  text-align: right;
  padding-right: 5px;
  color: white;
  font-size: 12px;
  line-height: 20px;
}



